body {
  margin: 0;
  background-color: #e7f6ff;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

h3,
h2,
p {
  margin: 0;
}

h5 {
  font-weight: 400;
  font-size: 14px;
}
span {
  font-size: 13px;
  opacity: 0.5;
  text-transform: uppercase;
}
b {
  font-size: 13px;
}

header {
  border-bottom: 1px solid #eaeaea;
}

.content h1 {
  margin: 0;
}

/* //----------------card */

.card {
  border: 1px solid #f8f8f8;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  margin-right: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
  transform: translateY(-5px);
}

.favorite {
  position: absolute;
  cursor: pointer;
}

.button {
  background: white;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

/* //---------------input----------- */

.searchBlock {
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
}

input {
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
}
/* //-----------------------------drawer */

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9;
}

.items {
  flex: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  right: 0;
  height: 100%;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}

.removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.removeBtn:hover {
  opacity: 1;
}

.cartTotalBlock li {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.cartTotalBlock div {
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -3px;
  margin: 0 7px;
}

.greenBtn {
  width: 100%;
  height: 55px;
  border: 0;
  background: #9dd558;
  border-radius: 18px;
  color: white;
  font-size: 16px;
}
